---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ ut2_server_instance_name }}-config
data:
  UT2_SERVER_NAME: {{ ut2_server_info_name }}
  UT2_SERVER_ADMIN: {{ ut2_server_info_admin }}
  UT2_SERVER_MOTD: {{ ut2_server_info_motd }}
---
apiVersion: v1
kind: Pod
metadata:
  name: "{{ ut2_server_instance_name }}"
spec:
  containers:
    - name: server
      image: "{{ ut2_server_image }}"
      envFrom:
        - configMapRef:
            name: {{ ut2_server_instance_name }}-config
      volumeMounts:
        - mountPath: /opt/ut2004/Shared
          name: shared
      resources:
        limits:
          cpu: "500m"
          memory: "1Gi"
      ports:
        - containerPort: 7777
          protocol: UDP
        - containerPort: 7778
          protocol: UDP
        - containerPort: 7787
          protocol: UDP
        - containerPort: 80
  volumes:
    - name: shared
      hostPath:
        path: /var/lib/ut2004
        type: Directory
  restartPolicy: OnFailure
