---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ ut2_server_instance_name }}-config-map
data:
  UT2_SERVER_NAME: {{ ut2_server_info_name }}
  UT2_SERVER_ADMIN: {{ ut2_server_info_admin }}
  UT2_SERVER_MOTD: {{ ut2_server_info_motd }}
  UT2_SERVER_PORT: {{ ut2_server_game_port }}
  UCC: /opt/ut2004/System/ucc-bin
---
apiVersion: v1
kind: Pod
metadata:
  name: "{{ ut2_server_instance_name }}"
  labels:
    app: "{{ ut2_server_instance_name }}"
spec:
  initContainers:
    - name: config
      image: "{{ ut2_server_config_image }}"
      volumeMounts:
        - mountPath: /output
          name: {{ ut2_server_instance_name }}-config
  containers:
    - name: server
      image: "{{ ut2_server_image }}"
      envFrom:
        - configMapRef:
            name: {{ ut2_server_instance_name }}-config-map
      volumeMounts:
        - mountPath: /opt/ut2004/Shared
          name: shared
        - mountPath: /opt/ut2004/Config
          name: {{ ut2_server_instance_name }}-config
        - mountPath: /opt/ut2004/UserLogs
          name: shared-user-logs
      resources:
        limits:
          cpu: "500m"
          memory: "1Gi"
      ports:
        - containerPort: {{ ut2_server_game_port }}
          protocol: UDP
        - containerPort: {{ ut2_server_query_port }}
          protocol: UDP
  volumes:
    - name: shared
      hostPath:
        path: /var/lib/ut2004/Config
        type: Directory
    - name: shared-user-logs
      hostPath:
        path: /var/lib/ut2004/UserLogs/{{ ut2_server_instance_name }}
        type: DirectoryOrCreate
    - name: {{ ut2_server_instance_name }}-config
      emptyDir:
        sizeLimit: 500Mi
  restartPolicy: OnFailure
---
apiVersion: v1
kind: Service
metadata:
  name: {{ ut2_server_instance_name }}-service
spec:
  selector:
    app: {{ ut2_server_instance_name }}
  ports:
    - protocol: UDP
      port: {{ ut2_server_game_port }}
      targetPort: {{ ut2_server_game_port }}

    - protocol: UDP
      port: {{ ut2_server_query_port }}
      targetPort: {{ ut2_server_query_port }}
