---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ ut2_server_instance_name }}-config-map
data:
  UT2_SERVER_NAME: {{ ut2_server_info_name }}
  UT2_SERVER_ADMIN: {{ ut2_server_info_admin }}
  UT2_SERVER_MOTD: {{ ut2_server_info_motd }}
  UCC=/opt/ut2004/System/ucc-bin
---
apiVersion: v1
kind: Pod
metadata:
  name: "{{ ut2_server_instance_name }}"
spec:
  initContainers:
    - name: config
      image: "{{ ut2_server_config_image }}"
      volumeMounts:
        - mountPath: /output
          name: {{ ut2_server_instance_name }}-config
  containers:
    - name: server
      image: "{{ ut2_server_image }}"
      envFrom:
        - configMapRef:
            name: {{ ut2_server_instance_name }}-config-map
      volumeMounts:
        - mountPath: /opt/ut2004/Shared
          name: shared
        - mountPath: /opt/ut2004/Config
          name: {{ ut2_server_instance_name }}-config
        - mountPath: /opt/ut2004/UserLogs
          name: shared-user-logs
      resources:
        limits:
          cpu: "500m"
          memory: "1Gi"
      ports:
        - containerPort: 7777
          protocol: UDP
        - containerPort: 7778
          protocol: UDP
        - containerPort: 7787
          protocol: UDP
        - containerPort: 80
  volumes:
    - name: shared
      hostPath:
        path: /var/lib/ut2004/Config
        type: Directory
    - name: shared-user-logs
      hostPath:
        path: /var/lib/ut2004/UserLogs
        type: Directory
    - name: {{ ut2_server_instance_name }}-config
      emptyDir:
        sizeLimit: 500Mi
  restartPolicy: OnFailure
