[Service]
TimeoutStartSec=900

[Kube]
Yaml={{ ut2_server_instance_name }}.yml
{% if ut2_server_network is not none %}
Network={{ ut2_server_network }}
{% endif %}

[Install]
WantedBy=multi-user.target
