[Unit]
Description=Node Exporter
After=network.target

[Service]
EnvironmentFile=-/etc/sysconfig/node_exporter
ExecStart=/usr/local/bin/node_exporter $OPTIONS --web.config.file=/etc/exporters/web_config.yml

[Install]
WantedBy=multi-user.target
