[Service]
TimeoutStartSec=900

[Kube]
Yaml=ut2-server-{{ server_id }}.yml
Network=ut2-server.network
PublishPort={{ server_game_port }}:7777/udp
PublishPort={{ server_query_port }}:7778/udp
PublishPort={{ server_gamespy_query_port }}:7787/udp
PublishPort={{ server_web_admin_port }}:80/tcp

[Install]
WantedBy=multi-user.target
